In [1]:
import sklearn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
!dir datasets\\titanic

 Volume in drive F is Work
 Volume Serial Number is D8A5-3255

 Directory of F:\Work\Github\Machine_learning_with_sklearn\datasets\titanic

04/17/2020  01:29 PM    <DIR>          .
04/17/2020  01:29 PM    <DIR>          ..
12/11/2019  02:17 AM             3,258 gender_submission.csv
12/11/2019  02:17 AM            28,629 test.csv
04/17/2020  01:29 PM            20,044 titanic_processed.csv
12/11/2019  02:17 AM            61,194 train.csv
               4 File(s)        113,125 bytes
               2 Dir(s)  157,229,531,136 bytes free

In [3]:
titanic_df = pd.read_csv("datasets/titanic/titanic_processed.csv")

In [4]:
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,35.0,0,0,7.125,0,0,1
1,1,3,1,29.0,0,0,9.500,0,0,1
2,0,3,0,39.0,1,5,31.275,0,0,1
3,1,2,0,32.0,0,0,13.000,0,0,1
4,1,2,0,27.0,0,0,10.500,0,0,1

In [6]:
titanic_df.shape

(712, 10)

In [7]:
from sklearn.model_selection import train_test_split

X = titanic_df.drop('Survived', axis=1)
y = titanic_df['Survived']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
x_train.shape

(569, 9)

In [9]:
x_test.shape

(143, 9)

In [10]:
y_train.shape

(569,)

In [11]:
y_test.shape

(143,)

In [15]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(penalty = 'l2', C=1.0, solver='liblinear').fit(x_train, y_train)

**Regularize the model by applying a penalty on overly complex models**
 
Here L2 represents the L2 norm. It means that it uses sum of square of the coeffecients

C here specifies the strength of the regularization

**Inverse of regularization strength - smaller values indicate stronger regularization**

**solver** here represents the optimization algo.

Algorithm to use in the optimization problem - the **liblinear** solver works well on small datasets

In [16]:
y_pred = logistic_model.predict(x_test)

In [17]:
y_pred

array([0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0], dtype=int64)

In [19]:
pred_results = pd.DataFrame({'y_test' : y_test,
                           'y_pred' : y_pred})

pred_results.head()

     y_test  y_pred
59        0       0
277       1       1
116       1       0
548       0       0
267       1       1

In [22]:
titanic_crosstab = pd.crosstab(pred_results.y_test, pred_results.y_pred)

titanic_crosstab

y_pred   0   1
y_test
0       71   9
1       20  43

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [25]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

In [30]:
print(f'accuracy score : {acc}')
print(f'precision score :  {prec}')
print(f'recall score :  {recall}')

accuracy score : 0.7972027972027972
precision score :  0.8269230769230769
recall score :  0.6825396825396826

**Precision :** How many of the passengers that the model thought survived actually did survive?

**Recall :** When passengers actually survived, How many times model was able to predict correctly.